.MMM-WS-Control.rectangle {
    position: relative;
    border: 1px solid;
    width: fit-content;
}

.MMM-WS-Control.rectangle.no-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MMM-WS-Control span {
    display: inline-block;
}

.MMM-WS-Control .device-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 1px solid;
    border-radius: 2px;
    font-size: 1.2rem;
}

.MMM-WS-Control .device-item.devices-item--active {
    background-color: #999999;
}

.device-item.devices-item--active .devices-item-icon,
.device-item.devices-item--active .devices-item-header {
    color: black;
}

.MMM-WS-Control .devices-item-header {

}

.MMM-WS-Control--header {
    font-size: 1.3rem;
}
